h1 {
	color: white;
	text-align: center;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
	opacity: 0.8;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
	height: 100%;
}

html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}